{% extends 'template.html' %}

{% block main %}
      <div class="about center">
        <h1>Hello, I'm <span class="about__name">Stan Ulbrych.</span></h1>
        <h2 class="about__role">A Hobbyist Developer.</h2>
        <p class="about__desc">
          I have a wide range of interests, but I especially love contributing to open source and math projects in my spare time!
        </p>

        <div class="about__contact center">

          <a
            href="https://github.com/stanfromireland"
            aria-label="github"
            class="link link--icon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i aria-hidden="true" class="fab fa-github"></i>
            <img src="../static/images/github-mark-white.png" alt="Dark Mode GitHub" class="image-dark">
          </a>

        </div>
      </div>
{% endblock %}
